*
 margin 0
 padding 0

.weui-cell
    padding 16px
    position relative
    display flex
    align-items center
    &::after
        content: ""
        position absolute
        bottom 0
        left 0
        right 0
        height 10px
        border-bottom 10px solid rgba(0,0,0,.1)
        transform scaleY(0.5);  //边框更细腻
        transform-origin 0 100%;
    &::before
        content: ""
        position absolute
        top 0
        left 0
        right 0
        height 1px
        border-bottom 1px solid rgba(0,0,0,.1)
        transform scaleY(0.5);  //边框更细腻
        transform-origin 0 0
.weui-cell__hd
     img 
      width 20px
      margin-right 16px
      display block
.weui-cell__bd
    flex 1
.weui-cell__ft
     text-align right 
     color rgba(0,0,0,.5)
