body{
  padding: 0;
  margin: 0;
}
.container{
  background: #42b983;
  padding: 10px;
}

.item{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  color: #cccccc;
  padding: 30px;
  display: block;
  text-align: center;
}

.item span{
  font-size: 50px;
}